.film{
  margin: 1%;
  background-color: White;


}
body{
  background-color: rgb(0,0,0);
}
.topnav {
  overflow: hidden;
  background-color: #B22222;
  padding-top:  2%;
}
.div-film{
  background-color: white;
}
